:root {
  --black: #171717;
  --gray: #777;
  --pastel-gray: #e0e0e0;
  --pastel-khaki: #daebdd;
  --white: #fef8f2;
  --yellow: #f0e67f;
  --yellow-dark: #efcf7f;
}

::selection {
  background: blue;
  color: white;
}

body {
  font-family: 'ClashGrotesk';
  background: var(--white) url('/images/paperclips.jpg') no-repeat right top;
  background-size: 250px;
  font-size: 1.2rem;
}

a:visited {
  color: blue; /* stays blue */
}

h1, h2 {
  font-family: 'ClashDisplay-Regular';
  line-height: 1.2;
}
h3 {
  font-weight: 500;
}


strong, b {
  font-weight: 500;
}

table td {
  vertical-align: top;
}

/* utilities */
.no-wrap {
  white-space: nowrap;
}
.left, .right {
  width: 50%;
}
.padding-y {
  padding-top: 7vh;
  padding-bottom: 7vh;
}
.flexbox {
  display: flex;
}
.centered {
  text-align: center;
}
.weight-normal {
  font-weight: normal;
}

/* text color */
.gray {
  color: var(--gray);
}
.gray a {
  color: var(--gray);
}

/* text size */
.big-text {
  font-size: 1.4rem;
}
.bigger-text {
  font-size: 2.0rem;
}
@media (max-width: 760px) {
  .bigger-text {
    font-size: 1.7rem;
  }
}
.xl-text {
  font-size: 2.8rem;
}
@media (max-width: 760px) {
  .xl-text {
    font-size: 2.0rem;
  }
}

/* buttons */
.cta-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (max-width: 760px) {
  .cta-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.cta-container.smaller {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.cta {
  background: url(/images/post-it.jpg) left bottom;
  background-size: cover;
  padding: 1.4rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--black);
  text-decoration: none;
  border: 5px solid var(--white);
}
.cta-container.smaller .cta {
  padding: .7rem .9rem;
}
.cta:visited {
  color: var(--black);
}
.cta:hover, .cta:active {
  color: blue;
}
.cta:hover path,
.cta:active path {
  fill: blue;
}
.cta > svg {
  display: inline-block;
  margin-left: .5rem;
  transform: scale(.7) translateY(.5rem);
}
/*
.cta:hover, .cta:active {
  background: var(--white);
}
*/
.cta .right-arrow {
  display: inline-block;
  margin-left: 10px;
  width: 15px;
}

.section {
  padding: 0 1.5rem;
}
@media (max-width: 760px) {
  .section {
    padding: 0 1rem;
  }
}
.section .inner {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
}
.logo a {
  text-decoration: none;
  color: var(--black);
}

.socials {
  background: var(--black);
}
@media (max-width: 760px) {
  .socials .inner {
    display: flex;
    justify-content: space-between;
  }
}
.socials ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 5px;
}
@media (max-width: 760px) {
  .socials ul {
    justify-content: flex-start;
    padding-left: 0px;
  }
}
  .socials li {
    margin-left: 5px;
  }
  @media (max-width: 760px) {
    .socials li {
      margin-right: 5px;
    }
  }
    .socials img {
      width: 1.5rem;
      height: 1.5rem;
    }
    .socials img:hover {
      opacity: .5;
    }

.nav {
  display: flex;
  font-family: 'ClashDisplay-Regular';
}
.nav .main-nav {
  padding-left: 0;
  display: flex;
  width: 60vw;
  list-style: none;
}
@media (max-width: 760px) {
  .nav .main-nav {
    display: none;
  }
}
.nav .logo {
  width: 40vw;
  line-height: 6rem;
}
.main-nav li {
}
.main-nav a {
  font-family: 'ClashGrotesk';
  text-decoration: none;
  color: var(--black);
  display: block;
  line-height: 6rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
}
.main-nav .active a {
  background: var(--black);
  color: white;
}
.main-nav .active a:before {
  background: var(--black);
  transform: scaleY(1);
}
.mobile-menu-open {
  display: none;
}
@media (max-width: 760px) {
  .mobile-menu-open {
    display: block;
  }
  .mobile-menu {
    width: 100%;
    height: 100%;
    border: none;
    background: var(--white);
  }
  .mobile-menu nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
  }
  .mobile-menu nav a {
    display: block;
    text-decoration: none;
    color: var(--black);
    padding: .5rem;
  }
  .mobile-menu nav .active a {
    padding-left: .5rem;
    display: block;
    text-decoration: none;
    color: var(--white);
    background: var(--black);
  }

  .mobile-menu-button {
    border: 0px solid transparent;
    background: var(--white);
  }
}
.dialog-header {
  display: flex;
  justify-content: flex-end;
}

/* blogue */
.blogue {
  background: var(--pastel-gray);
}
.blogue .inner {
  display: flex;
}
@media (max-width: 760px) {
  .blogue .inner {
    display: block;
  }
  .blogue .left,
  .blogue .right {
    width: 100%;
  }
}
.blogue .padding-y {
  padding-bottom: 8rem;
}
@media (max-width: 760px) {
  .blogue .padding-y {
    padding-bottom: 3rem;
  }
}
.blogue h2 {
  margin-bottom: 1rem;
}
.blogue h2>a {
  color: var(--black);
  text-decoration: none;
}
.blogue h2>a:hover {
  color: blue;
}
.blogue-post {
  padding-right: 3rem;
}
@media (max-width: 760px) {
  .blogue-post:first-child {
    margin-top: 0rem;
  }
  .blogue-post {
    margin-top: 2rem;
    padding-right: 0rem;
  }
}

/* article titre */
.article-titre {
  background: var(--pastel-khaki);
}

/* article de blogue */
.article {
  margin-top: 1rem;
}
.article .inner {
  display: flex;
}
@media (max-width: 760px) {
  .article .inner {
    display: block;
  }
}
.article .left {
  width: 70%;
  padding-right: 3rem;
}
@media (max-width: 760px) {
  .article .left {
    width: 100%;
    padding-right: 0;
  }
}
.article h1 {
  margin-bottom: .7rem;
}
.article h2 {
  margin-top: 2rem;
  margin-bottom: .7rem;
}
.article p, .article table, .article blockquote, .article pre {
  margin-bottom: .5rem;
  font-size: 1.2rem;
}
.article .article-meta {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--gray);
}
.article .right {
  width: 30%;
  padding: 2rem;
}
@media (max-width: 760px) {
  .article .right {
    width: 100%;
    padding: 2rem;
    background: var(--pastel-khaki);
    margin-top: 3rem;
  }
}
.article .elisa-figure {
  width: 90%;
}
.article .cta-container.smaller {
  padding-top: 1rem;
}
.article .cta-container.smaller .cta {
  font-size: 1rem;
  line-height: 2.5rem;
}

/* presentation */
.presentation {
  margin-top: 10rem;
  margin-bottom: 14rem;
}
@media (max-width: 760px) {
  .presentation {
    margin-top: 0rem;
    margin-bottom: 3rem;
  }
}
.presentation .left {
  width: 40%;
  padding-right: 2rem;
}
@media (max-width: 760px) {
  .presentation .left {
    display: none;
  }
}
.presentation .right {
  padding-top: 7vh;
  padding-bottom: 7vh;
}
.elisa-figure {
  width: 70%;
  max-width: 300px;
  padding: 5%;
  margin: 0 auto;
}
.elisa-figure figcaption {
  padding-top: 10px;
}
.presentation .right {
  width: 60%;
}
@media (max-width: 760px) {
  .presentation .right {
    width: 100%;
  }
}
.elisa {
  border-radius: 50%;
}
.post-it {
  background: url(/images/post-it.jpg) left top;
  background-size: cover;
  padding: 2rem;
  box-shadow: -1px 3px 6px -1px rgba(0,0,0,0.33);
}

/* a montreal */
.a-montreal {
  background: var(--pastel-khaki);
}
.a-montreal .left {
  width: 40%;
  padding: 3rem;
  padding-left: 0;
}
@media (max-width: 760px) {
  .a-montreal .left {
    display: none;
  }
}
.a-montreal .right {
  width: 60%;
}
@media (max-width: 760px) {
  .a-montreal .right {
    width: 100%;
  }
}
.coin-de-rue {
  margin-top: -6rem;
}

/* services */
.services {
}

.services .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  padding: 2rem 0 2rem 0;
  text-align: center;
}
@media (max-width: 760px) {
  .services .grid-container {
    display: block;
  }
}
@media (max-width: 760px) {
  .service:first-child {
    margin-top: 1rem;
  }
  .service {
    margin-top: 2rem;
  }
}
.services img {
  max-width: 70px;
  margin: 0 auto;
}
.services h3 {
  margin-top: .2rem;
}
.services p {
  padding: 0 2rem;
}


.footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
